/* Paleta de cores */
/*
--alabaster: #e7e5deff; branco
--lapis-lazuli: #2e5c91ff;
--harvest-gold: #e49700ff; amarelo
--smoky-black: #0c0507ff;
--oxford-blue: #092340ff; */


body {
    background-color: #e7e5de;  /*mudar cor de fundo*/
    font-family: 'Segoe UI', sans-serif; /*mudar fonte*/
}

img {
    max-width: 100%; /*a largura máxima da imagem é 100% da página*/
}

div.lado-esquerdo {
    width: 50%; /*Define a largura do lado esquerdo como 50%*/
    display: flex;
    align-items: center;
    justify-content: center;
}

div.lado-direito {
    width: 50%; /*Define a largura do lado direito como 50%*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.conteudo {
    display: flex; /*Define que a div 'conteudo' será flexível*/
}

h1 {
    color: #2E5C91; /*Muda a cor do texto*/
    text-align: center;
}

div.lado-esquerdo img {
    width: 60%; /*Mudar a largura da imagem*/
    border-radius: 30px; /*Adiciona borda arredondada*/
}

div.lado-direito a {
    text-decoration: none; /*retira o sublinhado padrão dos links*/
    font-size: 25px;
    background-color: #2e5c91ff; /*cor de fundo do botao*/
    width: 50%;
    margin: 10% ;/*Adiciona uma margem na parte de fora do botão*/
    padding: 5px; /* Adiciona um espaçamento interno no botão*/
    color: #e7e5deff;
    text-align: center; /* centraliza o texto no centro*/
    border-radius: 30px; /*Arredonda  a borda da imagem*/
}

