<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>
<body>
    <h1>Lista de tarefas digital</h1>
    <div class="conteudo">
        <div class="lado-esquerdo">
            <img src="/static/img/imagem-inicial.jpg" alt="Copo de café e lista de tarefas">
        </div>
        <div class="lado-direito">
            <a class="botao" href="/login">Já tenho uma conta</a>
            <a class="botao" href="/cadastro">Não tenho uma conta</a>
        </div>
    </div>
</body>
</html>