<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Minha lista de tarefas</h1>
   

    <div class="formulario">
        <form action="/criar_tarefa" method="POST">
            <input type="text" id="conteudo"
            name="conteudo" placeholder="O que precisa ser feito?" required>
            <button type="submit" class="btn">Adicionar tarefa</button>
        </form>
    </div>
    <hr>
    {% for tarefa in tarefas %}
        <label class="checkbox">
            <input type="checkbox" {{ "checked" if tarefa[2] else "" }}
            onclick="window.location.href='/tarefas/atualizar/{{ tarefa[0] }}'">
            {{ tarefa[1] }}
        </label>
        <input type="button"
            onclick="window.location.href='/tarefas/excluir/{{ tarefa[0] }}'" value="Excluir">
        <!-- <input type="button"
        onclick="window.location.href='/tarefas/editar/{{ tarefa[0] }}'" value="Editar"> -->
        <hr>
    {% endfor %}

    <input type="button"
    onclick="window.location.href='/excluir_usuario'" value="Excluir usuário">
</body>
</html>